/* .navbar .navbar-nav li {
    padding: 0px 8px 0px 8px;
    border: 1px solid transparent;
    border-radius: 0.2em;
    margin: 0px 1px 0px 1px;
}

.navbar .navbar-nav li:hover {
    border-color: #e7e7e7;
} */

html {
    font-size: 14px;
}

@media (min-width: 1200px) {
    body .container {
        margin-left: 3vw;
        margin-right: 3vw;
        width: 94vw;
    }

    .flex {
        display: flex;
    }

    .flex .panel {
        width: -webkit-fill-available;
        ;
    }
}

@media (max-width: 1200px) {
    body .container {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }

    body nav {
        margin-left: -15px;
        margin-right: -15px;
    }

    body nav .container .navbar-header {
        margin-left: 15px;
    }

    header .navbar.navbar-default {
        margin-left: 0;
        margin-right: 0;
    }

    header .navbar.navbar-default .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    body nav .container .navbar-header {
        margin-left: 0px;
        margin-right: 0px;
    }

    body nav .container .navbar-header .navbar-toggle {
        margin-right: 15px;
    }

    .navbar-collapse.collapsing .nav.navbar-nav.navbar-right,
    .navbar-collapse.collapse .nav.navbar-nav.navbar-right {
        padding-left: 15px;
    }

    .navbar-collapse .nav li {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-collapse .nav li a {
        display: table-cell;
        width: calc(100vw - 32px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 701px) {
    .screen-overlay {
        display: none;
    }
}

@media (max-width: 700px) {
    .screen-overlay {
        display: table;
    }
}

body header nav.navbar.navbar-default {
    border: none !important;
    border-bottom: 1px solid #777 !important;
}

.navbar-default .navbar-nav li a {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 14px;
    border: 1px solid transparent;
}

.selected-menu,
.navbar-default .navbar-nav li a:hover {
    border-color: #777 !important;
    border-radius: 3px;
}

.footer {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    line-height: 60px;
    /* Vertically center the text there */
}

.align-center {
    text-align: -webkit-center;
}

.tooltip {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    z-index: 999;
}

.screen-overlay-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.screen-overlay-content {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.rotate {
    height: 40px;
    width: 40px;
    margin: 15px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}

.chart-area {
    overflow: auto;
}

.svg-area svg text {
    font-size: 12px;
}

.svg-area svg text.axis-label {
    font-size: 16px;
    font-weight: 600;
}

.arc {
    opacity: 0.7;
    stroke: #ddd;
    stroke-width: 0.5px;
    cursor: pointer;
}

.arc-text,
.arc-percentage {
    text-anchor: middle;
    pointer-events: none;
    font-weight: bold;
}

.street {
    fill: #aaa;
    font-size: 20px;
}

.no-border,
.table.no-border tr td {
    border: 1px solid transparent;
}

.justify-text {
    text-align: justify;
}

.doc-img {
    border: 1px solid #18a3b8;
}

.panel-group .panel-group {
    margin-bottom: 0px;
}